Django==2.0.1
command-not-found==0.3
defer==1.0.6
dj-database-url==0.4.2
gunicorn==19.7.1
html5lib==0.999
httplib2==0.8
lxml==3.3.3
postgres==2.2.1
progressbar==2.3
psycopg2==2.7.1
pytz==2017.2
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pyparsing==2.0.1
python-apt==0.9.3.5ubuntu2
python-debian==0.1.21-nmu2ubuntu2
python-gnupg==0.3.6
requests==2.2.1
six==1.5.2
ubuntu-drivers-common==0.0.0
ufw==0.34-rc-0ubuntu2
unattended-upgrades==0.1
unity-scope-audacious==0.1
urllib3==1.7.1
usb-creator==0.2.23
whitenoise==3.3.1
