body{

    background-image: url("images/background3.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy' , cursive;
}

.list1 a{
    text-align: center;
    font-size: 20px;
}
.list1 a:hover{
    background-color: black;
    font-family: Courier;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}
