body{

    background-image: url("images/background3.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy' , cursive;
}

.list1 a{
    text-align: center;
    font-size: 30px;
    background-color:#ffb76b;
    border-radius: 10px;
    color: black;
    font-family:'Andale Mono' , cursive
}
.list1 a:hover{
    background-color: black;
    font-family: Courier;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}
